In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#raw_data = pd.read_csv("New_York_Offenses.csv",header=4,converters={"Population":float})
raw_data = pd.read_csv("New_York_Offenses.csv", header = 4)
data= raw_data

In [3]:
data

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adams Village,"1,861",0,0.0,NaN,0,0,0,12,2,10,0,0.0
1,Addison Town and Village,"2,577",3,0.0,NaN,0,0,3,24,3,20,1,0.0
2,Akron Village,"2,846",3,0.0,NaN,0,0,3,16,1,15,0,0.0
3,Albany,"97,956",791,8.0,NaN,30,227,526,"4,090",705,"3,243",142,NaN
4,Albion Village,"6,388",23,0.0,NaN,3,4,16,223,53,165,5,NaN
5,Alfred Village,"4,089",5,0.0,NaN,0,3,2,46,10,36,0,NaN
6,Allegany Village,"1,781",3,0.0,NaN,0,0,3,10,0,10,0,0.0
7,Amherst Town,"118,296",107,1.0,NaN,7,31,68,"2,118",204,"1,882",32,3.0
8,Amityville Village,"9,519",9,0.0,NaN,2,4,3,210,16,188,6,1.0
9,Amsterdam,"18,182",30,0.0,NaN,0,12,18,405,99,291,15,0.0
10,Arcade Village,"2,053",0,0.0,NaN,0,0,0,39,3,35,1,0.0
11,Ardsley Village,"4,523",5,0.0,NaN,0,3,2,33,4,28,1,0.0
12,Asharoken Village,658,0,0.0,NaN,0,0,0,2,0,2,0,0.0
13,Attica Village,"2,522",2,0.0,NaN,0,0,2,5,0,4,1,0.0
14,Auburn,"27,270",96,1.0,NaN,20,22,53,859,132,721,6,NaN
15,Avon Village,"3,333",1,0.0,NaN,0,1,0,25,3,20,2,NaN
16,Baldwinsville Village,"7,473",5,0.0,NaN,0,1,4,88,10,77,1,0.0
17,Ballston Spa Village,"5,418",8,0.0,NaN,0,3,5,94,16,78,0,1.0
18,Batavia,"15,374",57,0.0,NaN,7,13,37,559,103,454,2,NaN
19,Bath Village,"5,733",15,0.0,NaN,1,3,11,191,32,157,2,2.0
20,Bedford Town,"17,627",5,0.0,NaN,0,1,4,156,26,127,3,NaN
21,Bethlehem Town,"34,243",13,0.0,NaN,0,3,10,442,50,388,4,NaN
22,Binghamton,"46,304",284,3.0,NaN,19,101,161,"2,349",525,"1,767",57,NaN
23,Black River,"1,410",0,0.0,NaN,0,0,0,14,2,12,0,0.0
24,Blooming Grove Town,"12,001",8,0.0,NaN,1,0,7,99,20,72,7,NaN
25,Bolivar Village,"1,022",1,0.0,NaN,0,0,1,4,2,2,0,0.0
26,Bolton Town,"2,325",2,0.0,NaN,0,0,2,24,4,20,0,0.0
27,Boonville Village,"2,054",1,0.0,NaN,0,0,1,20,6,14,0,0.0
28,Brant Town,"2,065",4,0.0,NaN,0,1,3,31,9,20,2,0.0
29,Brewster,"2,358",0,0.0,NaN,0,0,0,13,3,10,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,Utica,"61,686",361,7.0,NaN,27,102,225,"2,528",449,"1,997",82,NaN
322,Vestal Town,"27,980",16,0.0,NaN,2,6,8,571,39,523,9,NaN
323,Walden Village,"6,887",18,1.0,NaN,2,1,14,142,13,124,5,NaN
324,Wallkill Town,"27,940",40,0.0,NaN,3,16,21,767,91,650,26,1.0
325,Walton Village,"3,012",6,0.0,NaN,1,0,5,68,18,50,0,NaN
326,Warsaw Village,"3,453",6,0.0,NaN,1,0,5,78,5,73,0,0.0
327,Washingtonville Village,"5,828",2,0.0,NaN,0,1,1,58,5,51,2,0.0
328,Waterford Town and Village,"8,392",4,0.0,NaN,0,0,4,59,6,52,1,0.0
329,Waterloo Village,"5,175",11,0.0,NaN,0,3,8,194,23,169,2,NaN
330,Watertown,"28,179",109,0.0,NaN,12,16,81,"1,165",169,953,43,NaN
331,Watervliet,"10,245",26,1.0,NaN,3,11,11,242,58,163,21,NaN
332,Watkins Glen Village,"1,862",6,0.0,NaN,0,0,6,92,10,80,2,NaN
333,Waverly Village,"4,337",5,0.0,NaN,0,1,4,54,9,41,4,NaN
334,Webster Town and Village,"43,777",21,0.0,NaN,2,3,16,469,101,361,7,NaN
335,Weedsport Village,"1,797",0,0.0,NaN,0,0,0,25,5,20,0,0.0
336,Wellsville Village,"4,574",11,0.0,NaN,1,0,10,164,32,129,3,1.0
337,Westhampton Beach Village,"1,732",2,0.0,NaN,0,0,2,44,4,37,3,0.0
338,West Seneca Town,"44,821",35,1.0,NaN,1,9,24,896,166,710,20,0.0
339,Whitehall Village,"2,604",6,0.0,NaN,0,0,6,62,12,49,1,NaN
340,White Plains,"57,559",78,1.0,NaN,3,28,46,"1,232",77,"1,134",21,NaN
341,Whitesboro Village,"3,733",4,0.0,NaN,0,0,4,36,14,21,1,0.0
342,Whitestown Town,"9,141",0,0.0,NaN,0,0,0,77,13,61,3,0.0
343,Woodbury Town,"10,685",3,0.0,NaN,0,2,1,541,9,529,3,NaN
344,Woodridge Village,829,7,0.0,NaN,0,0,7,17,8,9,0,0.0
345,Woodstock Town,"5,931",2,0.0,NaN,0,0,2,58,13,45,0,NaN
346,Yonkers,"199,134","1,036",6.0,NaN,25,390,615,"2,368",470,"1,662",236,10.0
347,Yorktown Town,"36,643",15,0.0,NaN,0,2,13,334,45,287,2,NaN
348,1 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349,2 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
350,3 The FBI does not publish arson data unless i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data.columns

Index(['City', 'Population', 'Violent\ncrime',
       'Murder and\nnonnegligent\nmanslaughter',
       'Rape\n(revised\ndefinition)1', 'Rape\n(legacy\ndefinition)2',
       'Robbery', 'Aggravated\nassault', 'Property\ncrime', 'Burglary',
       'Larceny-\ntheft', 'Motor\nvehicle\ntheft', 'Arson3'],
      dtype='object')

In [6]:
data['Population'] = data['Population'].str.replace(',', '')
data['Rape\n(legacy\ndefinition)2'] = data['Rape\n(legacy\ndefinition)2'].str.replace(',', '')
data['Property\ncrime'] = data['Property\ncrime'].str.replace(',', '')
data['Property\ncrime'] = pd.to_numeric(data['Property\ncrime'])
data['Population'] = pd.to_numeric(data['Population'])
data['Rape\n(legacy\ndefinition)2'] = pd.to_numeric(data['Rape\n(legacy\ndefinition)2'])
data.describe()

,Population,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Property crime,Arson3
count,3.480000e+02,348.000000,0.0,348.000000,348.000000,187.000000
mean,4.003763e+04,1.566092,NaN,5.864943,792.606322,1.871658
std,4.500374e+05,18.303673,NaN,60.425452,7659.724746,10.693411
min,5.260000e+02,0.000000,NaN,0.000000,0.000000,0.000000
25%,3.003000e+03,0.000000,NaN,0.000000,40.500000,0.000000
50%,7.233500e+03,0.000000,NaN,0.000000,112.500000,0.000000
75%,1.842750e+04,0.000000,NaN,2.000000,341.000000,1.000000
max,8.396126e+06,335.000000,NaN,1112.000000,141971.000000,132.000000

In [8]:
data.drop(data.tail(3).index,inplace=True)

In [9]:
data.columns

Index(['City', 'Population', 'Violent\ncrime',
       'Murder and\nnonnegligent\nmanslaughter',
       'Rape\n(revised\ndefinition)1', 'Rape\n(legacy\ndefinition)2',
       'Robbery', 'Aggravated\nassault', 'Property\ncrime', 'Burglary',
       'Larceny-\ntheft', 'Motor\nvehicle\ntheft', 'Arson3'],
      dtype='object')

In [ ]:
data.describe()

In [10]:
#Rename columns being used for analysis
data.rename(columns={"Murder and\nnonnegligent\nmanslaughter":"Murder",'Rape\n(legacy\ndefinition)2':"Rape","Property\ncrime":"Property_Crime"},inplace=True)

In [11]:
analysis_data = data[["City","Population","Murder","Rape","Property_Crime"]]

In [12]:
analysis_data.describe()

         Population      Murder         Rape  Property_Crime
count  3.480000e+02  348.000000   348.000000      348.000000
mean   4.003763e+04    1.566092     5.864943      792.606322
std    4.500374e+05   18.303673    60.425452     7659.724746
min    5.260000e+02    0.000000     0.000000        0.000000
25%    3.003000e+03    0.000000     0.000000       40.500000
50%    7.233500e+03    0.000000     0.000000      112.500000
75%    1.842750e+04    0.000000     2.000000      341.000000
max    8.396126e+06  335.000000  1112.000000   141971.000000

In [13]:
analysis_data= analysis_data.dropna()

In [14]:
analysis_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 348 entries, 0 to 347
Data columns (total 5 columns):
City              348 non-null object
Population        348 non-null float64
Murder            348 non-null float64
Rape              348 non-null float64
Property_Crime    348 non-null float64
dtypes: float64(4), object(1)
memory usage: 16.3+ KB

In [15]:
analysis_data["population_squared"] = analysis_data["Population"] **2 
analysis_data["Murder"] = np.where(analysis_data.Murder >= 1, 1,0)
analysis_data["Rape"] = np.where(analysis_data.Rape >=1,1,0)

In [19]:
analysis_data.head()

,City,Population,Murder,Rape,Property_Crime,population_squared
0,Adams Village,1861.0,0,0,12.0,3.463321e+06
1,Addison Town and Village,2577.0,0,0,24.0,6.640929e+06
2,Akron Village,2846.0,0,0,16.0,8.099716e+06
3,Albany,97956.0,1,1,4090.0,9.595378e+09
4,Albion Village,6388.0,0,1,223.0,4.080654e+07

In [18]:
# Create model and show results
regr = linear_model.LinearRegression()
Y = analysis_data["Property_Crime"].values.reshape(-1,1)
X = analysis_data[["Murder","Rape","population_squared"]]
regr.fit(X,Y)
print('\nCoefficients: \n', regr.coef_)
print('\nIntercept: \n', regr.intercept_)
print('\nR-squared:')
print(regr.score(X, Y))

Coefficients:
 [[  1.10767409e+03   3.88420632e+02   1.99200253e-09]]

Intercept:
 [ 70.4335578]

R-squared:
0.986188724285